* {
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
.mainContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.navbarContainer {
  background: linear-gradient(to left, #3fd0c9 0%, #2eaf7d 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 78px;
  position: sticky;
  top: 0;
  z-index: 99;
  border-bottom: 1px solid rgba(252, 250, 250, 0.595);
}
.navbarWrapper {
  height: 100%;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  font-weight: 700;
  font-size: 2rem;
  line-height: 25px;
  color: #ffffff;
  cursor: pointer;
}
.menuIcon {
  display: none;
}
.navitemContainer {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 15px;
}
.mobileNavContainer {
  display: none;
}
.navItem {
  height: 78px;
  display: flex;
  align-items: center;
  align-items: center;
  font-weight: 500;
  font-size: 1rem;
  line-height: 16px;
  color: #ffffff;
  cursor: pointer;
}
.navItem:hover {
  border-bottom: 2px solid white;
  font-size: 500;
}
.heroSection {
  background: linear-gradient(to left, #3fd0c9 0%, #2eaf7d 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 100%;
}
.heroContainer {
  width: 80%;
  display: flex;
  margin-top: 2rem;
}
.heroLeft {
  width: 50%;
}
.carouselItem {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2rem;
}
.heroHeading {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 54px;
  color: #ffffff;
}
.heroPara {
  font-weight: 500;
  font-size: 1rem;
  line-height: 22px;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
}
.heroRight {
  flex: 6;
}
.heroImg {
  width: 100%;
}
.heroBtnContainer {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.heroBtn {
  background: linear-gradient(to bottom, #3fd0c9 0%, #2eaf7d 100%);
  border-radius: 25px 25px 25px 0px;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 1rem;
  line-height: 22px;
  color: white;
  padding: 5px 10px;
}

.iconContainer {
  margin-top: 2rem;
  color: white;
  display: flex;
  gap: 15px;
  align-items: center;
  width: 2rem;
  height: 2rem;
  margin-bottom: 2rem;
}
.fa-brands {
  cursor: pointer;
}
.heroImg {
  width: 100%;
}
.serviceSection {
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("https://res.cloudinary.com/dxxh8iica/image/upload/v1684321916/green-tech_bf85al.webp");
  background-size: cover;
}
.serviceWrapper {
  width: 80%;
  height: 500px;
  display: flex;
}
.serviceLeft {
  flex: 4;
  background-color: #2eaf7d;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}

.serviceCardHeading {
  color: white;
  font-size: 2rem;
}
.serviceCardPara {
  color: white;
  font-size: 1rem;
}
.serviceRight {
  flex: 8;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
}
.serviceCard {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: rgb(240, 237, 237);
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.595);
  position: relative;
  z-index: 0;
  overflow: hidden;
  padding: 1rem;
}
.cardName {
  color: #022a30;
}
.serviceCard::before {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  z-index: -1;
}
.serviceCard::after {
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, #3fd0c9 0%, #2eaf7d 100%);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  clip-path: circle(20% at 90% 10%);
  transition: 0.3s;
  content: "";
}
.serviceCard:hover::after {
  clip-path: circle(100%);
}
.serviceCard:hover p {
  color: white;
  font-size: 1rem;
  transition: 0.3s;
}
.fa-beat {
  font-size: 2rem;
  color: #022a30;
}
.serviceCard:hover .fa-beat {
  color: white;
}
.serviceCard:hover .cardName {
  color: white;
  font-size: 1.2rem;
  transition: 0.3s;
}
/* about section */

.aboutSection {
  display: flex;
  align-items: center;
  justify-content: center;
}
.aboutWrapper {
  width: 80%;
  display: flex;
  flex-direction: column;
  background-color: white;
}
.aboutLeft {
  flex: 6;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.aboutHeading6 {
  font-size: 1.4rem;
  color: #367635;
}
.aboutTop {
  display: flex;
}
.flexTopLeft {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}
.flexTopRight {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ourHistoryHeading {
  font-size: 2.5rem;
  color: #022a30;
}
.historyDesc {
  font-size: 1.2rem;
  color: #000000;
  font-weight: 300;
}
.whyusListItem {
  font-size: 1.2rem;
  color: #000000;
  font-weight: 300;
}
.aboutRight {
  flex: 6;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.aboutImg {
  width: 100%;
}
.aboutBottom {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.aboutBottomLeft {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}
.aboutBottomRight {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* service section */
.learnSection {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 2rem;
}
.learnWrapper {
  width: 80%;
  display: flex;
  align-items: center;
}
.learnLeft {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-start;
}
.learnHeading {
  font-size: 2.5rem;
  color: #022a30;
}
.learnDesc {
  font-size: 1.2rem;
  color: #000000;
  font-weight: 300;
}
.learnRight {
  width: 50%;
}
.learnImg {
  width: 100%;
}


/* blog section */
.blogWrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
background-color: #2eaf7d;
padding: 2rem;
}
.ourBlog{
  margin-top: 1rem;
}
.blogContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}
.blogCard{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
}
.blogImg{
  width: 100%;
}
.cardDetails{
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:.5rem 1rem;
}
.blogHeading{
  font-size: 23px;
  text-align: left;
}
.blogDesc{
  font-size: 18px;
  text-align: left;
  font-weight: 300;
}
.blogBtn{
  background: linear-gradient(to bottom, #3fd0c9 0%, #2eaf7d 100%);
  border-radius: 25px 25px 25px 0px;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 1rem;
  line-height: 22px;
  color: white;
  padding: 5px 10px;
}
/* footer section */

.footerSection{
background-color: #022a30;
 color: white;
}
.footerLogo{
  font-weight: 700;
  font-size:2rem;
  line-height: 25px;
  color: #ffffff;
  cursor: pointer;
  margin-top: 1rem;
}
.footerPara{
  font-size: 16px;
  font-weight: 300;
  margin-top: 1rem;
}
.footerMiniHeading{
  margin-top:1rem;
  font-size: 1.5rem;
}
.footerNavItem{
  font-size: 16px;
  font-weight: 300;
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}
.locationIcon{
  align-self: flex-start;
  margin-top: 5px;
}
.footerNavItem:hover{
  color: #2eaf7d;
  margin-left:5px;
  font-size: 17px;
  transition: .2s;
}
.copyRights{
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #9AC5BE;
}
.copyRightsPara{
  color: #2eaf7d;
  font-size: 1.4rem;
  padding-top: 1rem;
  font-weight: 300;
}

@media screen and (max-width: 767px) {
  .logo {
    font-size: 28px;
  }
  .navitemContainer {
    display: none;
  }
  .menuIcon {
    display: block;
    color: white;
    font-size: 28px;
  }
  .mobileNavContainer{
    display: block;
    position: absolute;
    left: 0;
    top: 78px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    padding:5px;
  }
  .navItem{
    padding: 1rem 2rem;
    font-size:1.5rem;
  }
  .navItem:hover{
    background-color:rgba(0, 0, 0, 0.8);
    border-radius:12px;
    border: none;
  }
  .heroRight {
    display: none;
  }
  .heroLeft {
    width: 100%;
  }
  .serviceWrapper {
    flex-direction: column;
    justify-content: space-between;
  }
  .serviceLeft {
    display: none;
  }
  .serviceCard {
    width: 40%;
  }
  .serviceSection {
    background-image: none;
  }
  .aboutTop {
    flex-direction: column;
  }
  .flexTopLeft {
    width: 100%;
  }
  .flexTopRight {
    width: 100%;
  }
  .aboutBottom {
    flex-direction: column;
  }
  .aboutBottomLeft {
    width: 100%;
  }
  .aboutBottomRight {
    width: 100%;
  }
  .learnWrapper {
    flex-direction: column;
  }
  .learnLeft {
    width: 100%;
  }
  .learnRight {
    width: 100%;
  }
  .cardName {
    font-size: 0.8rem;
  }
  .d-none {
    display: none;
  }
  .blogCard{
    width:100%;
  }
}
